<p style="color: green"><%= notice %></p>

<%= render @post %>
<div class="edit-post-container"></div>

<div>
  <%= link_to "Publish", publish_post_path(@post), method: :patch, remote: true %> |
  <%= link_to "Edit this post", edit_post_path(@post), remote: true, id: "edit-post-link" %> | 
  <%= link_to "Back to posts", posts_path %> | 


  <%= button_to "Destroy this post", @post, method: :delete, data: { turbo: false, disable_with: "deleting..." } %>
</div>


